@model Langben.DAL.SysException
<div class="bigdiv datails-table">

   

    <div class="row">

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.CreatePerson, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.CreatePerson)
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.CreateTime, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.CreateTime)
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Message)
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Remark)
                </div>
            </div>
        </div>

    </div>

</div>



